<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">


	<title> Boriys Quiz Question </title>

</head>
<body>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<h2> 
	Vilket år startades Fleetwood mac?
	</h2>

	<br>
	<br>
	<br>


	<h2>	
	
		<form>
			<input type="radio" name="year" value="1967" checked> 1967 <br>
			<input type="radio" name="year" value="1968" checked> 1968 <br>
			<input type="radio" name="year" value="1969" checked> 1969 <br>
			<br>
			<br>
			  <input type="submit" value="Submit">

		</form>
	</h2>


<br>
<br>
<br>
<br>
<br>
<br>

<h5>	
	Carolinas quiz
</h5>	




<script src="https://ajax.googleapsis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> 
</script>

<script src="js/bootstrap.min.js">
</script>

</body>
</html>
