<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">


	<title> Boriys Quiz Question </title>

</head>
<body>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>



	<br>
	<br>
	<br>


	<h2>	
	
		<form>

		<h2>{{ question_number }}. {{ question }}</h2>

			<input type="radio" name="year" value= "{{ answer1 }}" checked> {{ answer1 }} <br>
			<input type="radio" name="year" value= "{{ answer2 }}" checked> {{ answer2 }} <br>
			<input type="radio" name="year" value= "{{ answer3 }}" checked> {{ answer3 }} <br>
			<br>
			<br>
			  <input type="submit" value="Submit">

		</form>

		<a href="{% url 'completed_page' quiz_number %}"> Nästa </a>
	</h2>


<br>
<br>
<br>
<br>
<br>
<br>

<h5>	
	Carolinas quiz
</h5>	




<script src="https://ajax.googleapsis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> 
</script>

<script src="js/bootstrap.min.js">
</script>

</body>
</html>
