<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">

	<body class="question_page">

	<title> Princequiz </title>

</head>
<body>


	<br>
	<br>



	<br>
	<br>
	<br>


		<form action="{% url "answer_page" quiz.quiz_number question_number %}" method="post">
		{% csrf_token %}
	
	<h2>{{ question_number }}. {{ question }} </h2>

	<h6>


			<input type="radio" name="answer" value="1" "{{ answer1 }}" checked> {{ answer1 }} <br>
			<input type="radio" name="answer" value="2" "{{ answer2 }}"> {{ answer2 }} <br>
			<input type="radio" name="answer" value="3" "{{ answer3 }}"> {{ answer3 }} <br>

			<button type="submit">Nästa</button>
		

		</form>
	</h6>
	<br>
	<h3>

	</h3>



<br>
<br>
<br>
<br>







<script src="https://ajax.googleapsis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> 
</script>

<script src="js/bootstrap.min.js">
</script>

</body>
</html>
