<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">

	<body class="quiz_page">

	<title> Princequiz </title>

</head>
<body>

	<h1>{{ quiz.name }}</h1>
	<h2>{{ quiz.description }}</h2>

	<img src="/static/bilder/prince_{{ quiz_number }}.gif">

	<a href="{% url 'question_page' quiz_number 1 %}">
			
	<br>
	<br>
			<h3>Starta</h3>
	</a>







<br>
<br>
<br>
<br>





<script src="https://ajax.googleapsis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> 
</script>

<script src="js/bootstrap.min.js">
</script>

</body>
</html>
