<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">


	<title> Princequiz </title>

	<body class="footer">

</head>
<body>


	<h1> 
	Prince
	quiz!
	</h1>
	
	
	<h2>
	Take a quiz (below) 
	<br>
	Have a party 
	<br>
	Drink some cava
	<br> 
	Listen to Prince
	</h2>

	<br>

	<h3>	

		<ul>
		{% for quiz in quizzes %}
    	<li><a href="{% url 'quiz_page' quiz.quiz_number %}">
        {{ quiz.name }}
    	</li></a>
    	<br>
		{% endfor %}
		

		</ul>
	
	</h3>



<br>
<br>
<br>
<br>




<footer>
	<h5>	
	~ produced by prince geek <a href= http://www.carolinapalmqvist.com/> carolinapalmqvist.com ~
	</h5>	
</footer>

<script src="https://ajax.googleapsis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> 
</script>

<script src="js/bootstrap.min.js">
</script>

</body>
</html>
