<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">


	<title> Boriys Quiz start </title>

</head>
<body>



	<h1> 
	Hola quizlover!
	</h1>
	
	<br>
	<br>
	
	<h3>
	Hej du har kommit till min quizsida och här kan du göra ett gött quiz om goa saker:
	</h3>

	<br>
	<br>
	<br>

	<h4>	
	
		<ul>
			<li> Prince-quizet </li>
			<li> 70-talsquizet </li>
			<li> Klubbklippdigquizzet </li>
		</ul>
	</h4>


<br>
<br>
<br>
<br>
<br>
<br>

<h5>	
	Carolinas quiz
</h5>	


<script src="https://ajax.googleapsis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> 
</script>

<script src="js/bootstrap.min.js">
</script>

</body>
</html>
