@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Capriola");

body {
	background-color: pink;
}

h1 {
	color: beige;
	text-align:center;
  	font-family: 'Shrikhand', cursive;
  	font-weight: none;
	text-transform: uppercase;
	font-size:19vw;
}

h2 {
	color: red;
	text-align:center;
	text-align:center;
  	font-family: 'Shrikhand', cursive;
	font-size:6vw;
}

h6 {
	color: brown;
	text-align:center;
	text-align:center;
  	font-family: 'Shrikhand', cursive;
	font-size:5vw;
}

h3 {
	color: brown;
	text-align:center;
  	font-family: 'Capriola', sans-serif;
	font-size:4vw;
}

h4 {
	color: brown;
	text-align:center;
  	font-family: 'Capriola', sans-serif;
	font-size:5vw;
}

h5 {
	color: red;
	text-align:center;
	font-family:helvetica;
	font-size:12px;
}

a:link {
    text-decoration: none;
}


a {
    color: white;
}

a:hover {
    color: hotpink;
}

ul {
	list-style-type: none;
}